<h1><%= @task.name %></h1>
due date:<%= @task.due_date %><br>
priority: <%= @task.priority %><br>
status: <%= @task.status %><br>
created at: <%= @task.created_at %><br>
updated at: <%= @task.updated_at %><br>
<br>
<%= link_to 'Back to listing', project_path(@project) %>